<!DOCTYPE html>
<html lang="en">
</html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>
      <%= @current_application_settings.application_confirm_email_message %>
    </p>
    <p>
      <%= link_to "Bear River Conference site", "https://lsa.umich.edu/bearriver" %>
    </p>
    <p>Thank you,</p>
  </body>
</html>
