- provide(:title, 'About')

%h1 The Bear River Conference
%h6
  The Bear River Writers' Conference is defined by its own particular geography,
  situated as it is at the intersection of the natural and creative worlds.
  Populated by an eclectic collection of writers of all levels of experience,
  it offers community members a hiatus from daily routine and the chance to
  find a space for themselves and their words.

  %em
    Find your place at Bear River.
  =link_to '...more','https://lsa.umich.edu/bearriver/'
%h6 This portal is for registrants to submit their payments.
