- provide(:title, 'Contact')

%h1 Contact Us
%p
  Contact Us
  Bear River Writers’ Conference
  Dept. of English Language & Literature
  3187 Angell Hall, University of Michigan
  435 South State Street
  Ann Arbor, MI 48109-1003
  Fax: 734.763.3128

  Find Bear River on Facebook

  Questions? Email us at
  = mail_to bearriver-questions@umich.edu
