- provide(:title, 'Privacy Statement')

%h1 Website Privacy Notice
%h4 Overview

%h6 The University of Michigan recognizes and values the privacy of the university community members and its guests, and strives to be the leaders and best in the ways in which we manage your personal information. This value is reflected in Regent’s Bylaw Sec. 14.07. Privacy and Access to Information, which states in part:

%p.blockquote “In collecting, utilizing, and releasing information about individuals associated with the university, the university will strive to protect individual privacy, to use information only for the purpose for which it was collected, and to inform individuals of the personal information about them that is being collected, used, or released.”

%h6 In principle, the University of Michigan strives to:

%ul
  %li Collect, store, and use the minimum amount of personal information that is necessary for its legitimate business purposes, and to comply with legal obligations.
  %li Take reasonable steps to ensure the personal information we manage is accurate and up-to-date.
  %li Limit who has access to the personal information in our possession to only those who need it for a legitimate, specific purpose.
  %li Protect personal information through appropriate physical and technical security measures tailored to the sensitivity of the personal data we hold.
  %li Communicate with our students, faculty, employees, suppliers, partners, and others about how we use personal information in our day-to-day operations.
  %li Provide opportunities to control your personal information, as permitted by applicable United States and other laws.
  %li Integrate privacy in the design of our activities when that involves the use of personal data.

%p
  The full content of the
  = link_to 'U-M Website Privacy Notice', 'https://umich.edu/about/privacy/'
