- provide(:title, 'Terms of Use')
.container
  %h1 U-M Network Responsible Use Agreement
  %h6 Access to the University of Michigan’s networks is provided in support of students’ academic and research activities, as well as reasonable and appropriate personal use.

  %h6
    Read the information
    = link_to 'here', 'https://its.umich.edu/enterprise/wifi-networks/network-responsible-use-agreement'
    carefully as it specifies user responsibilities and responsible use standards for connecting to computer networks, including those in residence halls and Northwood Apartments.

  %h6
    You must agree to the terms and conditions outlined
    = link_to 'here', 'https://its.umich.edu/enterprise/wifi-networks/network-responsible-use-agreement'
    to use the networks.
