<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>
      <%= @current_application_settings.balance_due_email_message %>
    </p>
    <p>
      <%= link_to "Bear River site", payments_url %>
    </p>
    <p>Thank you,</p>
  </body>
</html>
