<p>
  Congratulations <%= @application.first_name %> <%= @application.last_name %>!
</p>
<p>
  <%= @special_offer_invite_email_body %>
</p>
<p>
  <%= link_to "Accept Offer", accept_offer_url %>
</p>
<p>We look forward to you joining us at Bear River!</p>
