- if user_signed_in? && user_has_application?(current_user)
  - if ["special_offer_application", "registration_offered", "registration_accepted"].include? Application.active_conference_applications.find_by(user_id: current_user).offer_status
    %aside#sidebar-layout
      .container
        %h4.text-success Your Details
        .list-group
          - if user_has_payments?(current_user)
            = link_to "Payments/Receipts", all_payments_path, :class => 'list-group-item list-group-item-action'
          = link_to 'Application', application_path(Application.active_conference_applications.find_by(user_id: current_user)), :class => 'list-group-item list-group-item-action'
          = link_to 'Manage Login', edit_user_registration_path, :class => 'list-group-item list-group-item-action'
        = content_for :side