<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <style type="text/css">
       /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <%= yield %>
    <hr>
    <h4>Bear River Writers' Conference</h4>
    <p>
      3187 Angell Hall<br>
      435 South State Street<br>
      Ann Arbor, MI 48109-1003
    </p>
  </body>
</html>