!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
    = yield
  %hr
  %h4 Bear River Writers' Conference
  %p
    3187 Angell Hall
    %br/
    435 South State Street
    %br/
    Ann Arbor, MI 48109-1003
